# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.pytest_cache/
*.log

# Database
*.db
*.sqlite

# Environment
.env
.env.local

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Node
node_modules/
package-lock.json

# Serverless
.serverless/
.serverless_plugins/
.requirements.zip
.requirements/
